<div class="topnav" id="myTopnav">
      <a href="https://its-x3non.github.io/r3source/">Home</a>
      <a href="/r3source/news-updates/">News & Updates</a>
      
    <!-- r3sources dropdown -->
      <div class="dropdown">
         <button class="dropbtn" href="/r3source/r3source-page"><a href="/r3source/r3source-page">r3sources</a>
          <i class="fa fa-caret-down"></i>
          </button>
        <div class="dropdown-content">
          <a href="/r3source/edu-homepage/">Educational</a>
          <a href="/r3source/entmt-homepage/">Entertainment</a>
        </div>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      <!--
      <div class="search-container">
            <form action="">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit">Submit</button>
            </form>
          </div> 
      -->
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

<!-- top nav: https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp -->
