<div class="white">
<div class="topnav">
      <a href="https://its-x3non.github.io/r3source/">Home</a>
      <a href="#">About</a>
      <a href="/r3source/homepage/">Homepage</a>
      
    <!-- r3sources dropdown -->
      <div class="dropdown">
         <button class="dropbtn" href="/r3source/r3source-page">r3sources
          <i class="fa fa-caret-down"></i>
          </button>
        <div class="dropdown-content">
          <a href="/games/all-list.html">- Entire List -</a>
          <a href="/games/bullet-hell-list.html">Bullet Hell Games</a>
          <a href="/games/flash-list.html">Flash Games</a>
        </div>
      </div>
       <div class="search-container">
            <form action="">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit">Submit</button>
            </form>
          </div>
    </div>
</div>
